
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>O autorze</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico&amp;subset=latin-ext" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/FontStyles.css" rel="stylesheet" />
    <link href="~/Content/AboutMeStyles.css" rel="stylesheet" />
</head> 
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Fajna Nuta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("StaticSites","Home",new { id="AboutMe"})">O autorze</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>

    <header class="v-header container-new">
        <div class="fullscreen-video-wrap">
            <video src="~/Content/video/rain.mp4" type="video/mp4" autoplay="true" loop="true" controls muted></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>Witaj</h1>
            <div class="image">
                <img src="~/Content/img/myPicture.jpg" />
                <div id="back"></div>
            </div>
            <div class="description">
                <p class="text-center">
                    Mam na imię Dominik - tworze programy oraz aplikacjie internetowe. Sklep który przegladasz został napisany w jezyku C# z wykorzystaniem technolgij ASP.NET MVC 5.
                    Przy tworzeniu sklepu muzycznego strałem się użyć najnowszych wzorców i technolgij takich jak: Testy jednostkowe, kontener DI, mechaniz migracji i wiele innych.
                    Chcesz dowiedzić sie wiecej ?
                </p>
            </div>
            <div style="clear:both"></div>
            <a href="#" target="_blank" class="btn btn-success disabled">Szczegóły</a>
            <a href="https://github.com/NoEducation/Sklep-Muzyczny-1.0-" target="_blank" class="btn  btn-warning btn-light">Repozytorium</a>
            <a href="#" target="_blank" class="btn  btn-default disabled">Kontakt</a>
        </div>
    </header>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
