
@{
    Layout = "~/Views/Shared/_LayoutStaticSites.cshtml";
}

    <header class="v-header container-new">
        <div class="fullscreen-video-wrap">
            <!--<video src="~/Content/video/rain.mp4" type="video/mp4" autoplay="true" loop="true" controls muted></video>-->

        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>Witaj</h1>
            <div class="image">
                <img src="~/Content/img/myPicture.jpg" />
                <div id="back"></div>
            </div>
            <div class="description">
                <p class="text-center">
                    Mam na imię Dominik - tworze programy oraz aplikacjie internetowe. Sklep który przegladasz został napisany w jezyku C# z wykorzystaniem technolgij ASP.NET MVC 5.
                    Przy tworzeniu sklepu muzycznego strałem się użyć najnowszych wzorców i technolgij takich jak: Testy jednostkowe, kontener DI, mechaniz migracji i wiele innych.
                    Chcesz dowiedzić sie wiecej ?
                </p>
            </div>
            <div style="clear:both"></div>
            <a href="#" target="_blank" class="btn btn-success disabled">Szczegóły</a>
            <a href="https://github.com/NoEducation/Sklep-Muzyczny-1.0-" target="_blank" class="btn btn-info ">Repozytorium</a>
            <a href="@Url.Action("StaticSites","Home",new { id="Contact"})" target="_blank" class="btn  btn-default">Kontakt</a>
        </div>
    </header>
