@{
    Layout = "~/Views/Shared/_LayoutStaticSites.cshtml";
}

    <div class="row jumbotron">
        <div class="container">
        <div class="col-lg-9 ">Teść zostanie dodana wkrótce</div>
        <div class=" col-lg-3">...</div>
        </div>
    </div>

