body{
    font-family: 'Pacifico', cursive;
}
h1 {
    font-family: 'Pacifico', cursive;
}
h2 {
    font-family: 'Pacifico', cursive;
}
h3 {
    font-family: 'Pacifico', cursive;
}
h4 {
    font-family: 'Pacifico', cursive;
}
h5 {
    font-family: 'Pacifico', cursive;
}
h6 {
    font-family: 'Pacifico', cursive;
}

